

<div>
    <form ng-controller="BankEntityInsertController">
        <p>Name: <input type="text" name="name" ng-model="bankEntity.name"/></p> 
        <p>Bank Code: <input type="text" name="bankCode" ng-model="bankEntity.bankCode"/></p>
        <p>Creation Date: <input type="text" name="creationDate" ng-model="bankEntity.creationDate"/></p>
        <p>Address: <input type="text" name="address" ng-model="bankEntity.address"/></p>
        <p>CTC: <input type="text" name="ctc" ng-model="bankEntity.ctc"/></p>
        <input  ng-click="insert()" type="submit" value="Insertar"/><br>
        <br>
        
        <ul>
            <li ng-repeat="error in errors">{{error.fieldName}} : {{error.message}}</li>
        </ul>
    </form>
</div>