<form ng-controller="BankEntityInsertController">
    Name: 
    <input type="text" name="name" ng-model="bankEntity.name"/>

    Bank Code: 
    <input type="text" name="bankCode" ng-model="bankEntity.bankCode"/>  

    Creation Date: 
    <input type="text" name="creationDate" ng-model="bankEntity.creationDate"/>

    Address: 
    <input type="text" name="address" ng-model="bankEntity.address"/>

    CTC: 
    <input type="text" name="ctc" ng-model="bankEntity.ctc"/>

    <input  ng-click="insert()" type="submit" value="Insertar"/><br>
    <ul>
        <li ng-repeat="error in errors">{{error.fieldName}} : {{error.message}}</li>
    </ul>
</form>