<form ng-controller="UserInsertController">

    <div class="row">
        <div class="col-md-3"><strong>Name: </strong></div>
        <div class="col-md-5"><input type="text" name="name" ng-model="user.name" class="form-control"/></div>
    </div>

    <div class="row">
        <div class="col-md-3"><strong>Surname: </strong></div>
        <div class="col-md-5"><input type="text" name="bankCode" ng-model="user.surname" class="form-control"/></div>
    </div>

    <div class="row">
        <div class="col-md-3"><strong>Password: </strong></div>
        <div class="col-md-5"><input type="password" name="creationDate" ng-model="user.password" class="form-control"/></div>
    </div>

    <div class="row">
        <div class="col-md-3"><strong>Email: </strong></div>
        <div class="col-md-5"><input type="text" name="address" ng-model="user.email" class="form-control"/></div>
    </div>

    <div class="row">
        <div class="col-md-3"><strong>Role: </strong></div>
        <div class="col-md-5"><input type="text" name="ctc" ng-model="user.role" class="form-control"/></div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <input  ng-click="insert()" type="submit" value="Insertar" class="btn btn-info"/><br>
        </div>
    </div>
    <div>
        <div ng-repeat="error in errors" class="alert alert-danger" role="alert"><strong>{{error.fieldName}}</strong> - {{error.message}}</div>
    </div>

</form>
